.textarea {
  min-block-size: var(--tui-height-l);
}

.number {
  text-align: end;
  flex-direction: row-reverse;
}

//.second {
//  left: 11.25rem;
//}

//.header {
//  min-width: 40px;
//}

//.col-id {
//  min-width: 40px;
//}
//
//.col-english {
//  min-width: 150px;
//}
//
//.col-russian {
//  min-width: 150px;
//}
//
//.col-tru {
//  min-width: 150px;
//}
