<section class="main-nav__wrapper">
  <div class="main-nav__header">
    <button
      tuiButton
      routerLink="/"
      appearance="action-grayscale"
      type="button"
      class="logo-button"
    >DictionaryApp</button>
  </div>

  <div class="main-nav__body">
    <button
      tuiButton
      routerLink="/home"
      appearance="action-grayscale"
      type="button"
      class="nav-button"
    >Home</button>
    <button
      tuiButton
      routerLink="/dictionaries"
      appearance="action-grayscale"
      type="button"
      class="nav-button"
    >Dictionaries</button>
    <button
      tuiButton
      appearance="action-grayscale"
      type="button"
      class="nav-button"
    >Playground</button>
    <button
      tuiButton
      appearance="action-grayscale"
      type="button"
      class="nav-button"
    >Playground</button>
  </div>

  <div class="main-nav__footer">
    <button
      tuiIconButton
      [style.border-radius.%]="100"
      appearance="action-grayscale"
      iconStart="@tui.user"
      class="nav-button"
    >Profile</button>
    <button
      tuiIconButton
      [style.border-radius.%]="100"
      appearance="action-grayscale"
      iconStart="@tui.settings"
      class="nav-button"
    >Settings</button>
    <button
      tuiIconButton
      [style.border-radius.%]="100"
      appearance="action-grayscale"
      iconStart="@tui.sun-moon"
      class="nav-button"
      (click)="themeService.switchTheme()"
    >Theme</button>
  </div>
</section>
