<tui-root [attr.tuiTheme]="darkMode() ? 'dark' : null">
  <df-sidebar-container>
    <df-sidebar>
      <df-main-nav></df-main-nav>
    </df-sidebar>

    <df-sidebar-content>
      <router-outlet>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
        <div>sidebar-content works!</div>
      </router-outlet>
    </df-sidebar-content>
  </df-sidebar-container>
</tui-root>
